<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
</head>
<body>
    {% for messg in messages %} {{messg}} {% endfor %}
    {% if user.is_authenticated %}
        <p>Information should be below</p>
        <p>Username is {{user.username}}</p>
        <p>First name is {{user.first_name}}</p>
        <p>Last Name is {{user.last_name}}</p>
        <p>Email is {{user.email}}</p>
        <a href="http://localhost:8000/students/logout">Logout</a>
    {% else %}
        <p>Nothing to show here</p>
    {% endif %}
</body>
</html>